<?xml version="1.0"?>
<model>
  <name>hikbot</name>
  <version>0.1</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>mert</name>
    <email>hmertalbayrak@gmail.com</email>
  </author>
  <description>
    4WD skid-steer warehouse robot. Stereo cameras (Cam0/Cam1, 54 deg FOV),
    BNO055 IMU, four single-ray ToF lasers (front/back/left/right).
  </description>
</model>
